.form-container{
    min-width: 800px;
}

.form-container label {
    display: block;
}

.form-container textarea {
    width: 100%;
}

.form-container label {
    font-size: 14px;
    line-height: 18px;
    min-height: 36px;
}

.form-container > div,
.form-container .product-container {
    margin-top: 20px;
    background-color: #eee;
    padding: 20px;
}


.general-data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.general-data > div:last-of-type {
    grid-column: 1 / -1;
}

.numbers-data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.geo-data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.recepciones{
    background-color:#EEFFDC;
    padding:20px;
}

.product-buttons,
.recepciones-buttons,
.complementos-buttons,
.cfdis-buttons,
.condensados-buttons{
    display: flex;
    justify-content: space-between;
}

.product-buttons{
    margin-top: 20px;
    padding: 20px;
    background-color:#eee;
}

.product-toggle {
    text-align: right;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.product-toggle a {
    text-decoration: none;
}

.product-header {
    display: flex;
    justify-content: space-between;
}

.form-container .geo-data label,
.condensados-container > label,
#lblDescripcionInstalacion {
    min-height: 0;
}


.report-month {
    margin-top: 25px;
}

.condensados-buttons,
.recepciones-buttons,
.complementos-buttons,
.cfdis-buttons{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.recepciones-general span {
    display: inline-block;
    width: 50%;
}

.item-description {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.condensados-buttons,
.recepciones-buttons {
    font-size: 16px;
}

.complementos-buttons {
    font-size: 15px;
}

.complementos {
    margin-top: 20px;
    margin-left: 20px;
}

.complementos .complemento span{
    display: inline-block;
    width: 50%;
}

.cfdis{
    margin-top:10px;
    margin-left: 20px;
}

.recepcion{
    margin-top:20px;
    background-color:#ddd;
    padding:20px;
}

.complemento{
    background-color: #eee;
    margin-bottom: 20px;
    padding:20px;
}

.resultado-dictamen textarea{
    margin-top: 10px;
}

.additional-container{
    border: 1px dashed grey;
    padding:20px;
}

.cfdi{
    padding: 20px;
    border:1px solid #bbb;
    margin-bottom: 20px;
}

.product-clave{
    display: flex;
}

.product-clave{
    display: flex;
    justify-content: space-between
}

.product-clave span{
    display: inline-block;
    margin-right: 10px;
}

.condensados-container > label{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.condensados-container > label span{
    margin-right: 20px;
}

.no-condensados span,
.condensados span{
    display: inline-block;
    width: 50%;
}

.condensados-buttons{
    margin-bottom: 0;
}

.condensado{
    border-bottom: 1px solid #aaa;
    margin:10px;
    padding: 20px;
}
