.form-container{
    min-width: 800px;
}

.form-container textarea {
    width: 100%;
}

.form-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.form-container > div,
.form-container .product-container {
    margin-top: 20px;
    background-color: #eee;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.form-container .product-container {
    border: 2px solid #ccc;
}


.general-data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.general-data > div:last-of-type {
    grid-column: 1 / -1;
}

.numbers-data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.geo-data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.recepciones{
    background-color:#EEFFDC;
    border-radius: 10px;
    padding:20px;
}

.entregas{
    margin-top: 40px;
    border-radius: 10px;
    background-color:lightgoldenrodyellow;
    padding:20px;
}

.product-buttons,
.recepciones-buttons,
.entregas-buttons,
.complementos-buttons,
.cfdis-buttons,
.condensados-buttons{
    display: flex;
    justify-content: space-between;
}

.product-buttons{
    margin-top: 20px;
    padding: 20px;
}

.product-toggle {
    text-align: right;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.product-toggle a {
    text-decoration: none;
}

.product-header {
    display: flex;
    justify-content: space-between;
}

.form-container .geo-data label,
.condensados-container > label,
#lblDescripcionInstalacion {
    min-height: 0;
}


.report-month {
    margin-top: 25px;
}

.condensados-buttons,
.recepciones-buttons,
.complementos-buttons,
.entregas-buttons,
.cfdis-buttons{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.entregas-general span,
.recepciones-general span {
    display: inline-block;
    width: 50%;
}

.entrega,
.recepcion,
.complemento,
.cfdi {
    border-radius: 10px;
}

.item-description {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.condensados-buttons,
.entregas-buttons,
.recepciones-buttons {
    font-size: 16px;
}

.complementos-buttons {
    font-size: 15px;
}

.complementos {
    margin-top: 20px;
    margin-left: 20px;
}

.complementos .complemento span{
    display: inline-block;
    width: 50%;
}

.cfdis{
    margin-top:10px;
    margin-left: 20px;
}

.entrega,
.recepcion{
    margin-top:20px;
    background-color:#ddd;
    padding:20px;
}

.complemento{
    background-color: #eee;
    margin-bottom: 20px;
    padding:20px;
}

.resultado-dictamen textarea{
    margin-top: 10px;
}

.additional-container{
    border-radius: 10px;
    padding:20px;
}

.cfdi{
    padding: 20px;
    border:1px solid #bbb;
    margin-bottom: 20px;
}

.product-clave span{
    width: 50%;
    display: inline-block;
}

.condensados-container > label{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.condensados-container > label span{
    margin-right: 20px;
}

.no-condensados{
    margin-bottom: 12px;
}

.no-condensados span,
.condensados span{
    display: inline-block;
    width: 50%;
}

.condensados-buttons{
    margin-bottom: 0;
}

.condensado{
    border-bottom: 1px solid #aaa;
    margin:10px;
    padding: 20px;
}

.json-general-info strong{
    font-weight: 600;
    display: inline-block;
    min-width: 280px;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
    font-size: 14px;
}

.code-container{
    max-width:100%!important;
}

.form-container .json-data{
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 10px;
}

.form-container textarea.json-data{
    max-width: 95%
}

.form-container .footer{
    background-color: transparent;
    border:none;
}

.form-container button,
.form-container input[type=button]{
    background-color:darkorange;
    border:none;
    padding: 10px 20px;
    border-radius: 6px;
    color:white;
}

.form-container button:hover,
.form-container input[type=button]:hover{
    background-color:#c16d0e;
    cursor: pointer;
}

.form-container .product-buttons button{
    padding: 6px 15px;
}

.form-container .product-container button{
    padding: 5px 10px;
    border-radius: 3px;
    background-color:black;
}

.form-container .product-container button:hover{
    background-color: #333;
}

.form-container select{
    padding: 8px 20px;
}
